@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Dancing+Script&family=Maven+Pro&family=Monoton&display=swap');



*{
    margin: 0;
    box-sizing: border-box;

}

h1{
    color: rgb(42, 4, 57);
    margin-left: 30px;
    margin-top: 2px;
    font-weight: 700;
    text-shadow: 1px 0px 1px white;
    font-family: 'Maven Pro', sans-serif;

}


.col-11{
    margin-left: 30px;
    margin-top: 5px;
    /* padding-top: 5px; */
}

li{
    /* width: 740px; */
    height: 42px;
    border: 1px solid rgba(56, 55, 55, 0.422) ;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    padding-left: 20px;
    background-color:rgba(255, 255, 255, 0.959);
    list-style-position: outside;
    list-style-position: initial;
    margin-left: 30px;
    font-weight: 500;
    color: black;
    
}

mat-card{
    border-radius: 4%;   
    background-color: rgb(171, 168, 168);
    padding: 10px;
    border: 1px solid rgb(44, 44, 42);
    margin-bottom: 7px;
}

mat-card-content{
    /* border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%; */
    background-color: rgb(228, 228, 231);
    padding: 30px;
    border-radius: 8%;
    font-family: 'Maven Pro', sans-serif;
     
 }

 mat-divider{
   background-color: rgba(90, 84, 251, 0.293);
   border-radius: 40%;
 }



.category-Banner{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 89px;
    background-color: rgb(240, 240, 243);
}

dt{
    font-size: 21px;
    margin-bottom: 10px;

}

mat-label p{
    margin: 10px;
    font-size: 16.5px;
    width: 50%;
}

.up_btn{
    color: rgb(23, 137, 127);
    font-size: 20px;
}
.dl_btn{
    color: rgb(250, 4, 4);
    font-size: 20px;
}

.add_btn{
    margin: 10px 0px 10px 500px;
    border-radius: 8px;
    background-color: rgb(242, 244, 234);
    border: 1px solid rgba(0, 0, 0, 0.226);
}

button{
    margin-left: 260px;
      /* color: aliceblue; */
}

