<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="main">
                <div class="mainIntro">
                  <p class="para1">Welcome To, Admin Dashboard </p>
                  <!-- <p class="para2">Online Exam System <span class="para3"> for You</span> </p> -->
                </div>
                
                <!-- <div class="subMain">
                  <p class="p1">
                    Best-selling online exam system and more stable than expected.
                  </p>
                  <p class="p2">
                    Easy to organize online exams with intelligent creating, anti-cheating, statistic analysis and other features.
                  </p>
                </div> -->
            
                <!-- <a mat-raised-button  class="p-2 readButton ">Read More..</a> -->
            
                <!-- <img src="https://tpc.googlesyndication.com/simgad/4931567278696975789"> -->
              </div>
        </div>
    </div>
</div>
