
<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-2 secondSide">

            <div class="sidenav">
                <div class="imgDiv">
                    <img src="https://img.icons8.com/?size=1x&id=2wUxiAulS3fj&format=png">
                    <p class="imgDivName">Admin Dashboard</p>
                </div>

            </div>
            <div class="row  mt-4">
                <div class="col-2">
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=OXVih02dFZ53&format=png">
                        <p class="imgDivName2" routerLink="admin-home">HOME</p>
                    </div>

                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=107271&format=png">
                        <p class="imgDivName2" routerLink="profile">PROFILE</p>
                    </div>
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=X0VYc0TpBMII&format=png">
                        <p class="imgDivName2" routerLink="category">CATEGORIES</p>
                    </div>
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=55914&format=png">
                        <p class="imgDivName2" routerLink="add-category">ADD CATEGORY</p>
                    </div>
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=WzU2sXYSfjhK&format=png">
                        <p class="imgDivName2" routerLink="quiz">QUIZES</p>
                    </div>
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=yFAVSbDZOJll&format=png">
                        <p class="imgDivName2" routerLink="add-quiz">ADD QUIZ</p>
                    </div>
                    <div class="imgDiv2">
                        <img src="https://img.icons8.com/?size=512&id=W9oSY4G5TPcN&format=png">
                        <p class="imgDivName2" >LOGOUT</p>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>